/**
 * Custom CSS for the navbar and footer.
 * Author: 150014151
 */

/* Define colours once here. */
:root {
    --main-background-colour: #116466;
    --header-background: #2c3531;
    --header-text: #d9b08c;
    --link: #ffcb9a;
    --text: #d1e8e2
}

/* Top navigation bar. */
.navbar {
    overflow: hidden; /* Hide the overflow */
    background-color: var(--header-background);
}

/* Left-aligned navigation bar links. */
.navbar a {
    float: left; /* Make sure that the links stay side-by-side */
    display: block; /* Change the display to block, for responsive reasons (see below) */
    text-align: center; /* Centre the text */
    padding: 14px 20px; /* Add some padding */
    text-decoration: none; /* Remove underline */
    color: var(--header-text);
}
/* Left-aligned navigation bar links. */
.navbar a.right {
    float: right; /* Float a link to the right */
}

/* Invert colours when mouse over one of the navbar links. */
.navbar a:hover {
    background-color: var(--header-text); /* Grey background color */
    color: var(--header-background); /* Black text color */
}



.footer {
    padding: 5px;
    text-align: center; /* Centre text*/
    background: var(--header-background);
    color: var(--header-text);

    /* Make footer stick at the bottom of the page. */
    position: absolute;
    left: 0;
    bottom: 0;
    height: 55px;
    width: 100%;
}

/* Red heart in the footer. */
.fa-heart {
    color: red;
}

