/**
 * Custom CSS for the navigation bar (navbar) and footer.
 * Author: 150014151
 */

/* Define colour scheme here (easily scalable). */
:root {
    --main-light-blue-colour: #117d7f;
    --main-dark-colour: #2c3531;
    --dark-text: #d9b08c;
    --light-text: #ffcb9a;
    --normal-text: #d6ede7
}

.navbar-background {
    overflow: hidden;
    background-color: var(--main-dark-colour);
}

/* Left-aligned navigation bar links. */
.navbar-content {
    max-width: 960px;
    margin: auto;
}

.navbar-content a {
    float: left; /* Links stay side by side. */
    display: block;
    text-align: center; /* Centre the text. */
    padding: 14px 20px;
    font-style: normal !important; /* Don't make navbar links italic like the rest of the links. */
    text-decoration: none !important; /* Don't underline navbar links. */
    color: var(--dark-text);

}

/* Right-aligned navigation bar links. */
.navbar-content a.right {
    float: right;
}

/* Invert colours when mouse over one of the navbar links to make it more accessible/readable. */
.navbar-content a:hover {
    background-color: var(--dark-text);
    color: var(--main-dark-colour);
    text-decoration: none !important; /* Don't underline navbar links when hovering. */
}


.footer {
    /* General footer style */
    padding: 5px;
    text-align: center; /* Centre text*/
    background: var(--main-dark-colour);
    color: var(--dark-text);
    /* Make footer stick at the bottom of the page. */
    position: absolute;
    left: 0;
    bottom: 0;
    height: 55px;
    width: 100%;
}

/* Red heart in the footer. */
.fa-heart {
    color: red;
}


/**
 * Code from W3School for responsive navigation bars.
 * Source: https://www.w3schools.com/howto/howto_js_topnav_responsive.asp
 */

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .navbar-content a:not(:first-child) {
        display: none;
    }
    .navbar-content a.icon {
        float: right;
        display: block;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
    .navbar-content.navbar-responsive {
        position: relative;
    }
    .navbar-content.navbar-responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar-content.navbar-responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/* Hide the link that should open and close the topnav on small screens */
.navbar-content .icon {
    display: none;
}
