/**
 * General CSS for the custom theme for the website.
 * Author: 150014151
 */

/* Define colour scheme here (easily scalable). */
:root {
    --main-light-blue-colour: #116466;
    --main-dark-colour: #2c3531;
    --dark-text: #d9b08c;
    --light-text: #ffcb9a;
    --normal-text: #d1e8e2
}

/* Use a downloaded font. */
@font-face {
    font-family: OpenSans-Regular;
    src: url("fonts/OpenSans-Regular.ttf") format("tff");
}

/* Use this to enable sticky footer. */
html {
    position: relative;
    min-height: 100%;
}

/* General styles applied across the entire site.*/
body {
    /* Font */
    font-family: OpenSans-Regular, sans-serif;
    font-size: 18px;
    text-align: justify;
    color: var(--normal-text);
    background-color: var(--main-light-blue-colour);
    /* Use this to allow for a sticky footer of 55 pixels. */
    margin: 0 0 55px;
}

.content {
    max-width: 960px;
    margin: auto; /* Centre content. */
}

.content h2 {
    color: var(--dark-text);
}

/* General figure style for image and captions. */
img {
    max-width: 100%;
    height: auto;
}
figcaption {
    font-size: 16px;
    text-align: center;
}

/* Style for the references, which are displayed using HTML lists. */
.reference-list {
    list-style-type: none; /* Don't show bullet point. */
}
.reference-list-item {
    margin-bottom: 15px; /* Space out each list item. */
    text-align: left;!important; /* Don't justify align like the rest of the website. */
}

.header {
    padding: 20px;
    text-align: center; /* Centre the text in the header. */
    background: var(--main-dark-colour);
    color: var(--dark-text);
}
/* Increase the font size of the <h1> element. */
.header h1 {
    font-size: 40px;
}

/* General hr style to separate sections. */
hr {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px var(--main-dark-colour) inset;
}

/* Change colour for links, make italic and don't underline. */
.content a {
    color: var(--light-text);
    font-style: italic;
    text-decoration: none;
}
.content a:hover {
    text-decoration: underline;
}
.content a:visited {
    color: var(--dark-text);
}