/**
 * Custom theme for the website
 * Author: 150014151
 */

@font-face {
    font-family: OpenSans-Regular;
    src: url("fonts/OpenSans-Regular.ttf")format("tff");
}

body {
    margin: 10px 150px;
    font-family: OpenSans-Regular, sans-serif;
}

img {
    max-width: 75%;
}